body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: linear-gradient(#2c6e7a,#fff); */
    background-image: url(./Pictures/home-new-bg-free-img.jpeg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    /* background: #60abd05f; */
    backdrop-filter: blur(30px);
    padding: 20px;
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    border-radius: 10px;
    overflow: hidden;
}

.form-container {
    width: 200%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.form-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    font-size: 1rem;
    background: #057ba2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s ease;
}

form button:hover {
    background: #034a88;
}
p {
    margin-top: 20px;
}

a {
    color: #f2f4f5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.signuphead, h2{
    text-align: center;
    font-size: 50px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    form input, form button, form select {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* Loader styles */
.loader-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

.loader {
    /* border: 8px solid #f3f3f3; */
    border-top: 10px solid #2ecc71;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position:relative
}
.loader::before,
.loader::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.loader::before{
    border-top: 10px solid #e74c3c;
    transform: rotate(120deg); 
}
.loader::after{
    border-top: 10px solid #f39c12;
    transform: rotate(240deg);
}
@keyframes spin {
    to { transform: rotate(360deg); }
    /* 100% {  } */
}