body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#2c6e7a,#fff);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    background: #60abd05f;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.form-container {
    width: 200%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.form-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    font-size: 1rem;
    background: #057ba2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #034a88;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.signuphead, h2{
    text-align: center;
    font-size: 50px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    form input, form button, form select {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* Loader styles */
.loader-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
